<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}} - Webmontag Kalender</title>
	<script type="text/javascript" src="//use.typekit.net/wyk4qmd.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<h1>Web-Veranstaltungen in Bremen BETA</h1>
	<div class="intro">
		<p>
			In Bremen passiert einiges im Netz. Vieles geht leider unter, weil keiner weiß, was wann und wo läuft. Also haben wir diesen kleinen Klender gebaut, der versucht, alle Veranstaltungen zu sammeln.
		</p>
		<small><a href="mailto:kalender@webmontag-bremen.de">Neuen Eintrag melden</a>.</small>
	</div>


	{{#dates}}
	<hr />
	<h2>{{monthName}}</h2>
	<ul class="event-list">
		{{#events}}
		<li class="event">
      <div class="event-dropday">{{start.day}}</div>
			<h3>{{title}}</h3>
			<div class="event-address">
				<p><a href="https://www.google.de/maps/preview#!q={{place}}">{{{placeHTML}}}</a></p>
			</div>

			<div class="event-date">
				<p>
					<span class="event-label">Beginn:</span>
					<time datetime="{{start.utc}}">{{start.full}}</time><br />
					<span class="event-label">Ende:</span>
					<time datetime="{{start.utc}}">{{end.full}}</time>
				</p>
			</div>

			<p class="event-description">{{{descriptionHTML}}}</p>

		</li>
		{{/events}}
	</ul>
	{{/dates}}

	<small>Kalender gebastelt von <a href="http://vortrieb.net">Vortrieb</a>.</small>

</body>
</html>
