/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../sass/screen.scss */
html {
  background-color: #eee;
}

/* line 16, ../../sass/screen.scss */
body {
  text-align: center;
}

/* line 20, ../../sass/screen.scss */
.event {
  display: inline-block;
  background-color: #fff;
  margin: 1em;
  width: 20em;
  padding: 1em;
  min-height: 20em;
  position: relative;
  vertical-align: top;
  text-align: left;
}

/* line 32, ../../sass/screen.scss */
.event-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 38, ../../sass/screen.scss */
.event-description {
  font-size: 0.85em;
}

/* line 42, ../../sass/screen.scss */
.event-dropday {
  background-color: red;
  position: absolute;
  top: -0.6em;
  left: 1rem;
  font-size: 2em;
  font-weight: bold;
  padding: 0.2em;
}

/* line 52, ../../sass/screen.scss */
.event-label {
  display: inline-block;
  min-width: 4em;
  font-size: 0.85em;
}
