/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../../sass/screen.scss */
html {
  background-color: #eee;
}

/* line 19, ../../sass/screen.scss */
body {
  text-align: center;
  font-size: 1.125em;
  font-family: "brandon-grotesque",sans-serif;
}

/* line 25, ../../sass/screen.scss */
h2 {
  font-size: 2em;
}

/* line 29, ../../sass/screen.scss */
p {
  margin-top: 0;
}

/* line 33, ../../sass/screen.scss */
hr {
  width: 60%;
  border: 0;
  border-top: 0.2em solid #ccc;
  border-bottom: 0.1em solid #fff;
  margin: 5em auto 0 auto;
}

/* line 41, ../../sass/screen.scss */
hr + h2 {
  margin-top: 0;
  background-color: #eee;
  display: inline-block;
  padding: 0 0.5em;
  position: relative;
  top: -0.8em;
}

/* line 51, ../../sass/screen.scss */
a:link,
a:visited {
  color: #222222;
}

/* line 56, ../../sass/screen.scss */
a:hover,
a:focus {
  color: #e8bf46;
}

/* line 60, ../../sass/screen.scss */
.intro {
  width: 80%;
  max-width: 40em;
  margin: 0 auto;
}

/* line 66, ../../sass/screen.scss */
.event {
  display: inline-block;
  background-color: #fff;
  margin: 1em 1em 2em 1em;
  width: 16em;
  padding: 1em;
  min-height: 20em;
  position: relative;
  vertical-align: top;
  text-align: left;
  -webkit-box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
}

/* line 79, ../../sass/screen.scss */
.event-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 85, ../../sass/screen.scss */
.event-description {
  font-size: 0.85em;
  line-height: 1.3;
}

/* line 90, ../../sass/screen.scss */
.event-dropday {
  background-color: rgba(232, 191, 70, 0.8);
  color: #fff;
  position: absolute;
  top: -0.9em;
  left: 1rem;
  font-size: 2em;
  font-weight: bold;
  padding: 0.2em;
  width: 1.9em;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 104, ../../sass/screen.scss */
.event-label {
  display: inline-block;
  min-width: 3em;
  font-size: 0.85em;
}

/* line 110, ../../sass/screen.scss */
small {
  opacity: 0.3;
}
